<h1>Listing purcahses</h1>

<p>Total purchases: <%= number_to_currency @total_price %></p>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purcahses.each do |purcahse| %>
  <tr>
    <td><%= purcahse.item %></td>
    <td><%= number_to_currency purcahse.price %></td>
    <td><%= link_to 'Show', purcahse %></td>
    <td><%= link_to 'Edit', edit_purcahse_path(purcahse) %></td>
    <td><%= link_to 'Destroy', purcahse, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purcahse', new_purcahse_path %>
